html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a {
  display: inline-block;
  background-color: aquamarine;
  height: 20vh;
  border-radius: 3rem;
}

.carousel {
  overflow: hidden;
  max-width: 60vw;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
  width: 60vw;
  position: relative;
}

.carousel__item--text {
  position: absolute;
  text-align: center;
  font-size: 6rem;
  width: 100%;
}

button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

button#carousel__button--prev {
  margin-right: 20px;
}

button#carousel__button--next {
  margin-left: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    min-width: 60vw;
  }

  .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
    width: 60vw;
    position: relative;
  }

  .carousel__item--text {
    font-size: 3rem;
  }

  button#carousel__button--prev {
    margin-right: 10px;
  }

  button#carousel__button--next {
    margin-left: 10px;
  }
}
